.main-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.main-page .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1728px;
  height: 4545px;
  position: relative;
}

.main-page .overlap {
  position: absolute;
  width: 1011px;
  height: 808px;
  top: 2812px;
  left: 32px;
  border-radius: 30px;
}

.main-page .rectangle {
  position: absolute;
  width: 74px;
  height: 53px;
  top: 58px;
  left: 73px;
  background-color: #72773f;
  border-radius: 30px;
}

.main-page .rectangle-2 {
  position: absolute;
  width: 1011px;
  height: 808px;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
  border-radius: 30px;
}

.main-page .overlap-wrapper {
  position: absolute;
  width: 810px;
  height: 492px;
  top: 218px;
  left: 132px;
}

.main-page .overlap-group {
  position: relative;
  width: 884px;
  height: 538px;
  bottom: 40px;
  left: -74px;
}

.main-page .overlap-2 {
  position: absolute;
  width: 884px;
  height: 538px;
  top: 0;
  left: 0;
}

.main-page .rectangle-3 {
  position: absolute;
  width: 810px;
  height: 489px;
  top: 0;
  left: 74px;
  background-color: #d9d9d9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-left-width: 2px;
  border-left-style: solid;
  border-color: #000000;
}

.main-page .frame {
  position: absolute;
  width: 636px;
  height: 75px;
  top: 36px;
  left: 198px;
  background-color: #ffffff;
  border-radius: 70px;
  overflow: hidden;
}

.main-page .div-wrapper {
  position: absolute;
  width: 73px;
  height: 38px;
  top: 19px;
  left: 51px;
  background-color: #72773f;
  border-radius: 70px;
}

.main-page button {
  position: absolute;
  height: 30px;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.main-page .text-wrapper-20 {
  bottom: 25px;
  left: 70px;
}

.main-page .text-wrapper-21 {
  bottom: 25px;
  left: 150px;
}

.main-page .text-wrapper-22 {
  bottom: 25px;
  left: 335px;
}

.main-page .text-wrapper-23 {
  bottom: 25px;
  left: 470px;
}


.main-page button.active {
  color: white;
  border: none; 
  background-color: #6b8e23; 
  border-radius: 25px; 
  display: inline-block; 
  font-weight: bold; 
}


.main-page button {
  transition: all 0.3s ease;
}


.main-page .overlap-3 {
  position: absolute;
  width: 1728px;
  height: 177px;
  top: 0;
  left: 0;
  background-color: var(--collection-1-black);
}

.main-page .text-wrapper-25 {
  position: absolute;
  width: 691px;
  top: 68px;
  left: 38px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 31px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-page .overlap-4 {
  position: absolute;
  width: 797px;
  height: 70px;
  top: 45px;
  left: 905px;
}

.main-page .volunteering-about {
  position: absolute;
  width: 691px;
  top: 24px;
  left: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .quote-card {
  position: absolute;
  width: 300px;
  top: 160px;
  left: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .rectangle-7 {
  position: absolute;
  width: 212px;
  height: 70px;
  top: 0;
  left: 585px;
  background-color: var(--collection-1-green);
  border-radius: 70px;
  border: 10px solid;
  border-color: var(--collection-1-white);
}

.main-page .text-wrapper-26 {
  position: absolute;
  width: 167px;
  height: 37px;
  top: 16px;
  left: 607px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 23px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .overlap-5 {
  position: absolute;
  width: 1754px;
  height: 1433px;
  top: 1331px;
  left: -5px;
}

.main-page .rectangle-8 {
  position: absolute;
  width: 777px;
  height: 719px;
  top: 32px;
  left: 961px;
  background-color: #d9d9d9;
}

.main-page .rectangle-9 {
  position: absolute;
  width: 1754px;
  height: 1433px;
  top: 0;
  left: 0;
  background-color: #40362a;
}

.main-page .vector {
  position: absolute;
  width: 128px;
  height: 1335px;
  top: 65px;
  left: 849px;
}

.main-page .vector-2 {
  position: absolute;
  width: 136px;
  height: 399px;
  top: 328px;
  left: 742px;
}

.main-page .vector-3 {
  position: absolute;
  width: 335px;
  height: 496px;
  top: 591px;
  left: 867px;
}

.main-page .vector-4 {
  position: absolute;
  width: 225px;
  height: 162px;
  top: 1129px;
  left: 751px;
}

.main-page .vector-5 {
  position: absolute;
  width: 630px;
  height: 1009px;
  top: 126px;
  left: 240px;
}

.main-page .vector-6 {
  position: absolute;
  width: 137px;
  height: 279px;
  top: 673px;
  left: 1338px;
}

.main-page .rectangle-10 {
  position: absolute;
  width: 735px;
  height: 625px;
  top: 751px;
  left: 974px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 20px 4px #00000040;
}

.main-page .rectangle-11 {
  position: absolute;
  width: 869px;
  height: 625px;
  top: 751px;
  left: 37px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 20px 4px #00000040;
}

.main-page .rectangle-12 {
  position: absolute;
  width: 803px;
  height: 669px;
  top: 34px;
  left: 906px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 20px 4px #00000040;
}

.main-page .group {
  position: absolute;
  width: 549px;
  height: 499px;
  top: 856px;
  left: 1079px;
}

.main-page .image {
  width: 400px;
  height: 500px;
  left: 81px;
  background-blend-mode: darken;
  position: absolute;
  bottom: 100px;
  object-fit: cover;
}

.main-page .element-total-lbs {
  position: absolute;
  width: 547px;
  top: 375px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 46px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .span {
  font-weight: 700;
}

.main-page .text-wrapper-27 {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 46px;
  letter-spacing: 0;
}

.main-page .text-wrapper-28 {
  font-size: 39px;
}

.main-page .screenshot {
  position: absolute;
  width: 640px;
  height: 521px;
  top: 180px;
  left: 996px;
  object-fit: cover;
}

.main-page .overlap-group-wrapper {
  position: absolute;
  width: 527px;
  height: 605px;
  top: 771px;
  left: 201px;
}

.main-page .overlap-6 {
  position: relative;
  width: 525px;
  height: 605px;
}

.main-page .image-2 {
  width: 490px;
  height: 490px;
  left: 10px;
  position: absolute;
  top: 20px;
  object-fit: cover;
}

.main-page .x-servings-of-food {
  position: absolute;
  width: 406px;
  top: 497px;
  left: 49px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .CROP-VARIETIES-YEAR {
  position: absolute;
  width: 543px;
  height: 115px;
  top: 58px;
  left: 1044px;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: #72773f;
  font-size: 69px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .text-wrapper-29 {
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: #72773f;
  font-size: 69px;
  letter-spacing: 0;
}

.main-page .text-wrapper-30 {
  font-size: 34px;
}

.main-page .group-2 {
  position: absolute;
  width: 806px;
  height: 693px;
  top: 32px;
  left: 33px;
}

.main-page .overlap-7 {
  position: absolute;
  width: 562px;
  height: 543px;
  top: 258px;
  left: 1088px;
  border-radius: 281px / 271.5px;
}

.main-page .group-3 {
  position: absolute;
  width: 562px;
  height: 543px;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
  border-radius: 281px / 271.5px;
}

/*Outer circle*/
.main-page .overlap-group-2 {
  position: relative;
  width: 482px;
  height: 514px;
  top: 22px;
  left: 81px;
}


/*Inner  circle*/
.main-page .ellipse {
  position: absolute;
  width: 401px;
  height: 387px;
  top: 56px;
  left: 0;
  background-color: #ffffff;
  border-radius: 200.41px / 193.64px;
}

.main-page .CURRENT-PRODUCE {
  position: absolute;
  height: 168px;
  top: 187px;
  left: 118px;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: var(--collection-1-green);
  font-size: 47px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .line-18 {
  position: absolute;
  width: 1728px;
  height: 1px;
  top: 881px;
  left: 0;
  object-fit: cover;
}

.main-page .overlap-8 {
  position: absolute;
  width: 1728px;
  height: 448px;
  top: 882px;
  left: 0;
}

.main-page .rectangle-13 {
  position: absolute;
  width: 1728px;
  height: 448px;
  top: 0;
  left: 0;
  background-color: #72773f;
  box-shadow: 0px 4px 4px #00000040;
}

.main-page .overlap-9 {
  position: relative;
  width: 140px;
  height: 196px;
  top: 330px;
  left: 794px;
}

.main-page .vector-12 {
  position: absolute;
  width: 10px;
  height: 107px;
  top: 89px;
  left: 65px;
}

.main-page .tempimageufiha {
  position: absolute;
  width: 140px;
  height: 132px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.main-page .at-martha-s-we {
  position: absolute;
  width: 1641px;
  top: 130px;
  left: 38px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .text-wrapper-31 {
  position: absolute;
  height: 67px;
  top: 32px;
  left: 710px;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: var(--collection-1-white);
  font-size: 56px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-page .text-wrapper-32 {
  position: absolute;
  height: 64px;
  top: 271px;
  left: 38px;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: var(--collection-1-green);
  font-size: 53px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .p {
  position: absolute;
  height: 42px;
  top: 772px;
  left: 132px;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: var(--collection-1-green);
  font-size: 35px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-page .text-wrapper-33 {
  position: absolute;
  width: 298px;
  height: 35px;
  top: 505px;
  left: 48px;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: var(--collection-1-green);
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .text-wrapper-34 {
  position: absolute;
  width: 298px;
  height: 35px;
  top: 505px;
  left: 377px;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: var(--collection-1-green);
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .text-wrapper-35 {
  position: absolute;
  width: 298px;
  height: 35px;
  top: 497px;
  left: 714px;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: var(--collection-1-green);
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .line-19 {
  position: absolute;
  width: 13px;
  height: 199px;
  top: 372px;
  left: 357px;
}

.main-page .line-20 {
  position: absolute;
  width: 13px;
  height: 199px;
  top: 372px;
  left: 691px;
}

.main-page .overlap-10 {
  position: absolute;
  width: 233px;
  height: 67px;
  top: 411px;
  left: 80px;
}

.main-page .text-wrapper-36 {
  position: absolute;
  width: 233px;
  height: 67px;
  top: 0;
  left: 0;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 57px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-page .overlap-11 {
  position: absolute;
  width: 265px;
  height: 96px;
  top: 371px;
  left: 377px;
}

.main-page .text-wrapper-37 {
  position: absolute;
  width: 233px;
  height: 67px;
  top: 29px;
  left: 32px;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 57px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-page .text-wrapper-38 {
  position: absolute;
  width: 53px;
  height: 34px;
  top: 0;
  left: 0;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .overlap-12 {
  position: absolute;
  width: 265px;
  height: 96px;
  top: 371px;
  left: 714px;
}

.main-page .text-wrapper-39 {
  position: absolute;
  width: 53px;
  height: 34px;
  top: 371px;
  left: 48px;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .overlap-13 {
  position: absolute;
  width: 983px;
  height: 150px;
  top: 612px;
  left: 38px;
  background-color: #d9d9d9;
}

.main-page .text-wrapper-40 {
  position: absolute;
  width: 659px;
  height: 94px;
  top: 26px;
  left: 162px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 114px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-page .overlap-14 {
  position: absolute;
  width: 1728px;
  height: 898px;
  top: 3646px;
  left: 0;
}

.main-page .group-4 {
  position: absolute;
  object-fit: cover;
  width: 1728px;
  height: 638px;
  top: 260px;
  left: 0;
}

.main-page .component {
  left: 655px;
  position: absolute;
  width: 401px;
  height: 657px;
  top: 0;
}

.main-page .overlap-15 {
  position: relative;
  height: 638px;
  top: 19px;
}

.main-page .rectangle-14 {
  position: absolute;
  width: 401px;
  height: 616px;
  top: 22px;
  left: 0;
  background-color: #969b6c;
  border-radius: 41px;
  border: 0px none;
}

.main-page .view {
  position: absolute;
  width: 259px;
  height: 241px;
  top: 0;
  left: 71px;
  box-shadow: inset 0px 4px 4px transparent;
}

.main-page .text-wrapper-41 {
  position: absolute;
  width: 259px;
  top: -2px;
  left: -1px;
  text-shadow: 0px 10px 10px #00000080;
  -webkit-text-stroke: 1px #000000;
  font-family: "Rozha One", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 251px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-page .line-21 {
  position: absolute;
  width: 236px;
  height: 3px;
  top: 208px;
  left: 83px;
}

.main-page .line-22 {
  position: absolute;
  width: 236px;
  height: 3px;
  top: 260px;
  left: 83px;
}

.main-page .line-23 {
  position: absolute;
  width: 236px;
  height: 3px;
  top: 307px;
  left: 83px;
}

.main-page .line-24 {
  position: absolute;
  width: 236px;
  height: 3px;
  top: 363px;
  left: 83px;
}

.main-page .line-25 {
  position: absolute;
  width: 236px;
  height: 3px;
  top: 418px;
  left: 83px;
}

.main-page .line-26 {
  position: absolute;
  width: 236px;
  height: 3px;
  top: 478px;
  left: 83px;
}

.main-page .line-27 {
  position: absolute;
  width: 236px;
  height: 3px;
  top: 544px;
  left: 83px;
}

.main-page .component-2 {
  left: 178px;
  position: absolute;
  width: 401px;
  height: 657px;
  top: 0;
}

.main-page .rectangle-15 {
  background-color: #41382e;
  position: absolute;
  width: 401px;
  height: 616px;
  top: 22px;
  left: 0;
  border-radius: 41px;
  border: 0px none;
}

.main-page .component-3 {
  left: 1148px;
  position: absolute;
  width: 401px;
  height: 657px;
  top: 0;
}

.main-page .rectangle-16 {
  background-color: #a69d92;
  position: absolute;
  width: 401px;
  height: 616px;
  top: 22px;
  left: 0;
  border-radius: 41px;
  border: 0px none;
}

.main-page .group-5 {
  position: absolute;
  width: 584px;
  height: 807px;
  top: 2813px;
  left: 1092px;
}
